@media screen and (max-width: 430px) {
  * {
    margin: 0;
  }
  .body {
    background-color: rgba(215, 218, 229, 0.86);
    font-family: 'Noto Sans', sans-serif;
  }

  .container-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 35%;
    justify-content: space-evenly;
    margin-inline: 12px;
    background-color: hsl(200, 60%, 99%);
    padding: 10px 10px;
    padding-left: 10px;
    border-radius: 8px;
    margin-top: 15px;
  }
  .moon {
    display: flex;
    background-color: hsl(0, 0%, 93%);
    width: 50px;
    justify-content: center;
    padding: 15px 3px;
    border-radius: 30%;
    border-style: none;
  }

  .ext {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .h2 {
    font-size: 30px;
    font-weight: 700;
  }

  #container-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 7%;
    justify-content: space-evenly;
    margin-inline: 10px;

    font-size: 19px;
    padding-bottom: 1rem;
  }
  .all {
    color: hsl(200, 60%, 99%);
    background-color: red;
    width: 50px;
    text-align: center;
    padding: 10px 20px;
    padding-right: 40px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .active {
    background-color: hsl(200, 60%, 99%);
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .inactive {
    background-color: hsl(200, 60%, 99%);
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .entire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #container-3 {
    background-color: hsl(200, 60%, 99%);
    margin-inline: 15px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .dev-img {
    padding-top: 20px;
    padding-left: 15px;
  }
  .dev {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
  }

  .dev-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 52%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .devlens {
    font-size: 23px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .p {
    font-weight: 400;
  }

  .remove {
    background-color: hsl(200, 60%, 99%);
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
  }

  .stylespy {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
  }
  .style-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 52%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .spy-img {
    padding-top: 20px;
    padding-left: 15px;
  }

  .tab {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
  }

  .switch {
    position: relative;
    width: 35px;
    height: 20px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: 0.5s;
    border-radius: 35px;
  }
  .switch input {
    display: none;
  }

  .slider::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 17px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
  }

  label {
    margin-top: 10px;
  }

  .switchh {
    position: relative;
    width: 35px;
    height: 20px;
  }
  .sliderr {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 78%);
    transition: 0.5s;
    border-radius: 35px;
  }
  .switchh input {
    display: none;
  }

  .sliderr::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  * {
    margin: 0;
  }
  .body {
    background-color: rgba(215, 218, 229, 0.86);
    font-family: 'Noto Sans', sans-serif;
  }

  .container-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 35%;
    justify-content: space-evenly;
    margin-inline: 12px;
    background-color: hsl(200, 60%, 99%);
    padding: 10px 10px;
    padding-left: 10px;
    border-radius: 8px;
    margin-top: 15px;
  }
  .moon {
    display: flex;
    background-color: hsl(0, 0%, 93%);
    width: 50px;
    justify-content: center;
    padding: 15px 3px;
    border-radius: 30%;
    border-style: none;
  }

  .ext {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .h2 {
    font-size: 30px;
    font-weight: 700;
  }

  #container-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 7%;
    justify-content: space-evenly;
    margin-inline: 10px;

    font-size: 19px;
    padding-bottom: 1rem;
  }
  .all {
    color: hsl(200, 60%, 99%);
    background-color: red;
    width: 50px;
    text-align: center;
    padding: 10px 20px;
    padding-right: 40px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .active {
    background-color: hsl(200, 60%, 99%);
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .inactive {
    background-color: hsl(200, 60%, 99%);
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .entire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #container-3 {
    background-color: hsl(200, 60%, 99%);
    margin-inline: 15px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .dev-img {
    padding-top: 20px;
    padding-left: 15px;
  }
  .dev {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
  }

  .dev-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 52%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .devlens {
    font-size: 23px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .p {
    font-weight: 400;
  }

  .remove {
    background-color: hsl(200, 60%, 99%);
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
  }

  .stylespy {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
  }
  .style-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 52%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .spy-img {
    padding-top: 20px;
    padding-left: 15px;
  }

  .tab {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
  }

  .switch {
    position: relative;
    width: 35px;
    height: 20px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: 0.5s;
    border-radius: 35px;
  }
  .switch input {
    display: none;
  }

  .slider::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 17px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
  }

  label {
    margin-top: 10px;
  }

  .switchh {
    position: relative;
    width: 35px;
    height: 20px;
  }
  .sliderr {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 78%);
    transition: 0.5s;
    border-radius: 35px;
  }
  .switchh input {
    display: none;
  }

  .sliderr::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  * {
    margin: 0;
  }
  .body {
    background-color: rgba(215, 218, 229, 0.86);
    font-family: 'Noto Sans', sans-serif;
  }

  .container-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 70%;
    justify-content: space-evenly;
    margin-inline: 12px;
    background-color: hsl(200, 60%, 99%);
    padding: 10px 10px;
    padding-left: 10px;
    border-radius: 8px;
    margin-top: 15px;
  }
  .moon {
    display: flex;
    background-color: hsl(0, 0%, 93%);
    width: 50px;
    justify-content: center;
    padding: 15px 3px;
    border-radius: 30%;
    border-style: none;
  }

  .ext {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .h2 {
    font-size: 30px;
    font-weight: 700;
  }

  #container-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 7%;
    justify-content: space-evenly;
    margin-inline: 10px;

    font-size: 19px;
    padding-bottom: 1rem;
  }
  .all {
    color: hsl(200, 60%, 99%);
    background-color: red;
    width: 50px;
    text-align: center;
    padding: 10px 20px;
    padding-right: 40px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .active {
    background-color: hsl(200, 60%, 99%);
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .inactive {
    background-color: hsl(200, 60%, 99%);
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .entire {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }
  #container-3 {
    background-color: hsl(200, 60%, 99%);
    margin-inline: 15px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .dev-img {
    padding-top: 20px;
    padding-left: 15px;
  }
  .dev {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
  }

  .dev-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 52%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .devlens {
    font-size: 23px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .p {
    font-weight: 400;
  }

  .remove {
    background-color: hsl(200, 60%, 99%);
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
  }

  .stylespy {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
  }
  .style-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 52%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .spy-img {
    padding-top: 20px;
    padding-left: 15px;
  }

  .tab {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
  }

  .switch {
    position: relative;
    width: 35px;
    height: 20px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: 0.5s;
    border-radius: 35px;
  }
  .switch input {
    display: none;
  }

  .slider::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 17px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
  }

  label {
    margin-top: 10px;
  }

  .switchh {
    position: relative;
    width: 35px;
    height: 20px;
  }
  .sliderr {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 78%);
    transition: 0.5s;
    border-radius: 35px;
  }
  .switchh input {
    display: none;
  }

  .sliderr::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1024px) {
  * {
    margin: 0;
  }
  .body {
    background-color: rgba(215, 218, 229, 0.86);
    font-family: 'Noto Sans', sans-serif;
  }

  .container-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 70%;
    justify-content: space-evenly;
    margin-inline: 12px;
    background-color: hsl(200, 60%, 99%);
    padding: 10px 10px;
    padding-left: 10px;
    border-radius: 8px;
    margin-top: 15px;
  }
  .moon {
    display: flex;
    background-color: hsl(0, 0%, 93%);
    width: 50px;
    justify-content: center;
    padding: 15px 3px;
    border-radius: 30%;
    border-style: none;
  }

  .ext {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .h2 {
    font-size: 30px;
    font-weight: 700;
  }
  #list {
    display: flex;
    flex-wrap: wrap;
    gap: 45%;
    padding-left: 16px;
  }
  #container-2 {
    padding-top: 35px;

    font-size: 19px;
    padding-bottom: 1rem;
  }
  #container-2 > button {
    margin-right: 7px;
  }
  .all {
    color: hsl(200, 60%, 99%);
    background-color: red;
    width: 50px;
    text-align: center;
    padding: 10px 20px;
    padding-right: 40px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .active {
    background-color: hsl(200, 60%, 99%);
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .inactive {
    background-color: hsl(200, 60%, 99%);
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .entire {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }
  #container-3 {
    background-color: hsl(200, 60%, 99%);
    margin-inline: 15px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .dev-img {
    padding-top: 20px;
    padding-left: 15px;
  }
  .dev {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
  }

  .dev-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 52%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .devlens {
    font-size: 23px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .p {
    font-weight: 400;
  }

  .remove {
    background-color: hsl(200, 60%, 99%);
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
  }

  .stylespy {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
  }
  .style-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 52%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .spy-img {
    padding-top: 20px;
    padding-left: 15px;
  }

  .tab {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
  }

  .switch {
    position: relative;
    width: 35px;
    height: 20px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: 0.5s;
    border-radius: 35px;
  }
  .switch input {
    display: none;
  }

  .slider::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 17px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
  }

  label {
    margin-top: 10px;
  }

  .switchh {
    position: relative;
    width: 35px;
    height: 20px;
  }
  .sliderr {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 78%);
    transition: 0.5s;
    border-radius: 35px;
  }
  .switchh input {
    display: none;
  }

  .sliderr::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  * {
    margin: 0;
  }
  .body {
    background-color: rgba(215, 218, 229, 0.86);
    font-family: 'Noto Sans', sans-serif;
  }

  .container-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 70%;
    justify-content: space-evenly;
    margin-inline: 12px;
    background-color: hsl(200, 60%, 99%);
    padding: 10px 10px;
    padding-left: 10px;
    border-radius: 8px;
    margin-top: 15px;
  }
  .moon {
    display: flex;
    background-color: hsl(0, 0%, 93%);
    width: 50px;
    justify-content: center;
    padding: 15px 3px;
    border-radius: 30%;
    border-style: none;
  }

  .ext {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .h2 {
    font-size: 30px;
    font-weight: 700;
  }
  #list {
    display: flex;
    flex-wrap: wrap;
    gap: 50%;
    padding-left: 16px;
  }
  #container-2 {
    padding-top: 35px;

    font-size: 19px;
    padding-bottom: 1rem;
  }
  #container-2 > button {
    margin-right: 7px;
  }
  .all {
    color: hsl(200, 60%, 99%);
    background-color: red;
    width: 50px;
    text-align: center;
    padding: 10px 20px;
    padding-right: 40px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .active {
    background-color: hsl(200, 60%, 99%);
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .inactive {
    background-color: hsl(200, 60%, 99%);
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-style: none;
    border-radius: 30px;
  }
  .entire {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
  }
  #container-3 {
    background-color: hsl(200, 60%, 99%);
    margin-inline: 15px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .dev-img {
    padding-top: 20px;
    padding-left: 15px;
  }
  .dev {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
  }

  .dev-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 52%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .devlens {
    font-size: 23px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .p {
    font-weight: 400;
  }

  .remove {
    background-color: hsl(200, 60%, 99%);
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
  }

  .stylespy {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
  }
  .style-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 52%;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .spy-img {
    padding-top: 20px;
    padding-left: 15px;
  }

  .tab {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
  }

  .switch {
    position: relative;
    width: 35px;
    height: 20px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: 0.5s;
    border-radius: 35px;
  }
  .switch input {
    display: none;
  }

  .slider::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 17px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
  }

  label {
    margin-top: 10px;
  }

  .switchh {
    position: relative;
    width: 35px;
    height: 20px;
  }
  .sliderr {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 78%);
    transition: 0.5s;
    border-radius: 35px;
  }
  .switchh input {
    display: none;
  }

  .sliderr::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
  }
}
